<div class="card">
    <div class="card-body">
        <h5 class="titulo">Reservas</h5>
        <table class="table" aria-describedby="Todas las reservas">
            <thead>
                <tr>
                    <th scope="col">Id de Reserva</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Pelicula</th>
                    <th scope="col">Fecha de reserva</th>
                    <th scope="col">Días de reserva</th>
                    <th scope="col">Fecha de Entrega</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Opciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of listaReservas">
                    <td>
                        {{reserva.idReserva}}
                    </td>
                    <td>
                        {{reserva.cedulaCliente}}
                    </td>
                    <td>
                        {{reserva.nombreDeLaPelicula}}
                    </td>
                    <td>
                        {{reserva.fechaDeReserva}}
                    </td>
                    <td>
                        {{reserva.diasDeReserva}}
                    </td>
                    <td>
                        {{reserva.fechaDeEntrega}}
                    </td>
                    <td>
                        {{reserva.precioCalculado}}
                    </td>
                    <td>
                        {{reserva.estado}}
                    </td>
                    <td>
                        <button class="list-group-item list-group-item-action" id="btnRedirectModificarReserva" (click)="modificarReserva(reserva)">Editar</button>
                        <button class="list-group-item list-group-item-action" id="btnRedirectEliminarReserva" (click)="eliminarReserva(reserva.idReserva)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>