<div class="container-sm col-md-6">
    <form [formGroup]="listaPorCedulaForm">
        <div class="form-group">
            <label>Filtrar reservas por cédula:</label>
            <input class="form-control" type="text" id="cedulaCliente" name="cedulaCliente" placeholder="Cédula" formControlName="cedulaCliente">
        </div>
        <br>
        <div class="d-grid gap-2">
            <button class="btn btn-primary btn-lg" id="btnConsultar" (click)="obtenerReservas(); emitirListaFiltrada()" type="submit">
                Consultar</button>

        </div>
    </form>
</div>