<ul class="nav nav-tabs d-flex justify-content-center">
    <li class="nav-item">
        <a class="nav-link" id="linkReserva" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Reservas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="linkCrearReserca" routerLink="./crear" routerLinkActive="active">Crear reserva</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="linkEliminarReserva" routerLink="./borrar" routerLinkActive="active">Eliminar reserva</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="linkListarReservas" routerLink="./listar" routerLinkActive="active">listar reservas</a>
    </li>
</ul>
<router-outlet></router-outlet>