<ul class="nav nav-tabs d-flex justify-content-center">
    <li class="nav-item">
        <a class="nav-link" id="linkListarReservas" routerLink="./listar" routerLinkActive="active">Todas las reservas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="linkCrearReserca" routerLink="./crear" routerLinkActive="active">Crear reserva</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="linkEliminarReserva" routerLink="./borrar" routerLinkActive="active">Eliminar reserva</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="linkListarPorCedula" routerLink="./listar-por-cedula" routerLinkActive="active">Filtrar por cédula</a>
    </li>
</ul>
<router-outlet></router-outlet>